body {
  font-family: 'Handjet', cursive;
  color: white;
  background-color: rgb(9, 8, 8);
}

.row {
  margin: 0;

}

#board {
  width: 285px;
  margin: 50px auto;
  position: relative;
}

#matches,
#turns {
  font-size: 25px;
  width: 105px;
  margin: 0 auto;
  background-color: rgba(85, 110, 137, 0.238);
  border-radius: 15px;
}

#matches {
  margin-top: 50px;
  margin-bottom: 7px;
}

#restart-button, #start-button {
  width: 86px;
  height: 50px;
  font-size: 29px;
  position: absolute;
  background-color: rgba(24, 19, 19, 0.803);
  border-radius: 15px;
  top: 165px;
  left: 99.5px;
}

/* Class to hide the element from the DOM */
.hide {
  display: none;
}

/* Card fron Style */
.card-front {
  background-color: rgb(17 17 20);
  background-image: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* Game card style */
.greenCard {
  background-color: green;
  background-image: url(../images/haunter.png);
  background-position: center;
  background-repeat: no-repeat;
}

.redCard {
  background-color: red;
  background-image: url(../images/char.png);
  background-position: center;
  background-repeat: no-repeat;
}

.yellowCard {
  background-color: yellow;
  background-image: url(../images/pika.png);
  background-position: center;
  background-repeat: no-repeat;
}

.purpleCard {
  background-color: purple;
  background-color: black;
  background-image: url(../images/snor.png);
  background-position: center;
  background-repeat: no-repeat;
}

.pinkCard {
  background-color: rgb(200, 24, 86);
  background-image: url(../images/psy.png);
  background-position: center;
  background-repeat: no-repeat;
}

.blueCard {
  background-color: rgb(17, 0, 103);
  background-image: url(../images/sq.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* Blur effect */
.blur {
  filter: blur(6px);
}

/* Card flip effect and style */
.card {
  background-color: transparent;
  width: 95px;
  height: 95px;
  padding: 0;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}