/* .card {
    background-color: blue;
    height: 70px;
    width: 70px;
    margin: 5px;
} */

.greenCard {
    background-color: green;
}

.redCard {
    background-color: red;
}

.yellowCard {
    background-color: yellow;
}

.purpleCard {
    background-color: purple;
}

.blackCard {
    background-color: black;
}

.whiteCard {
    background-color: rgb(156, 144, 144);
}




/* 3d effects  */
.card {
    background-color: transparent;
    width: 70px;
    height: 70px;
    padding: 0;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
  }

  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .card-front {
    background-color: rgb(70, 70, 78);
  }
  
  .card-back {
    transform: rotateY(180deg);
  }

  .hide {
    display: none;
  }